
.list-category {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 40px;
    font-weight: 500;
    font-size: x-large;
    color: blueviolet;
 }

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.item-button-pair {
    display: inline;
}

.icon-button {
    float: left;
}