
.list-category {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 40px;
    font-weight: 500;
    font-size: x-large;
    color: blueviolet;
 }

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.accordion-summary {
    text-align: center;
}

.item-button-pair {
    display: inline;
    text-align: right;
}

.icon-button {
    float: left;
}

.category {
    font-family: futura;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 40px;
    font-weight: 500;
    font-size: xx-large;
    color: black;
}