.edit-items {
  justify-content: center;
  display:flex; 
  flex-direction:row;
}

form {
    margin: 50px;
    width: 1000px;
}

h1 {
    color: rgb(248, 248, 248);
    text-align: center;
}

.display-lists {
  margin: 10px;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}

#bookmark-button {
  flex-direction: column;
}

.full-page {
  height: 1000px;
  background-color: yellow;
}
